#important to remember:
#the webserver directory is also the home directory of the "webadmin" user
#so we ignore their dotfiles
\.*
#...except the gitignore
!\.gitignore
#(becuase I don't like rewriting the gitignore on every system)

#but make super sure to ignore webadmin's .gitconfig
.gitconfig

#we'll also ignore any directory called "private", which stores stuff like databases and logins
private
#also sometimes I end files with ".private", so let's ignore those too
*\.private

#ignore the apcahe24 default errors directory
error
#and ignore lockfiles/configfiles
lockfiles

#also we have node installed here, for wetty
#so let's ignore node_modules, because size constraints
node_modules

#don't track configuration files
*\.conf

#don't track blatt's config file
blattconf\.py
